.login-form {
  max-width: 450px;
}

.login-form .image {
  margin-bottom: 0;
}


.login-form .header {
  margin-top: 1rem;
}


.login-form .divider {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.login-form .segment {
  background: #fbfbfb;
}

@media screen and (max-width: 320px) {
  #login-form-logo {
    display: none;
  }
}