#login-grid {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#login-grid>.column {
  max-width: 700px;
}

#login-segment button {
  margin-left: auto;
  display: inherit;
}

#login-segment {
  border-radius: 16px;
}